[Desktop Entry]
Name=Framenux Radio
Comment=Internet Radio Player
Exec=framenux-radio
Icon=framenux-radio
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Player;GTK;
Keywords=Radio;Music;Stream;Internet;